# Creating a database 'school' and adding records in 'student' table.

In [1]:
#!pip list # gives a list of modules available

In [2]:
#!pip install pymysql - to install package in python , installed package may get installed at a different loaction depending
#upon the os and might not be installed in JuPyter's python versions. 
'''But using this method is not recommended because of the OS behavior. This command executed on the current version in the $PATH variable of the OS. 
So in the case of multiple Python versions, this might not install the same package in the jupyter’s Python version. 
In the simplest case it may work.

Using sys library:
To solve the above-mentioned problem, it is recommended to use sys library in Python which will return the path of the current version’s pip on which the jupyter is running. 
sys.executable will return the path of the Python.exe of the version on which the current Jupyter instance is
import sys
!{sys.executable} -m pip install [package_name]

'''
import sys
!{sys.executable} -m pip install pymysql

Requirement already satisfied: pymysql in c:\users\rohit\anaconda3\lib\site-packages (1.0.2)

In [4]:
##creating connection object
'''
server name - host=localhost
user-user=root
password=''
'''
conn_obj=mq.connect(host="localhost",user='root',password='',database='school')

In [5]:
##creating cursor object to execute sql commands and hold result
cursor_obj=conn_obj.cursor()

In [6]:
#handle error if database already exists
try:
    db="create database school"
    cursor_obj.execute(db) #.execute(query,*args) - args are used to assign values in placeholders in query
    print("Database created")
    
except:# 'finally' keyword is used in place of 'except' when we want the statement to execute irrespective of try statement
    print('Database error : check if it already exists')

Database error : check if it already exists

In [7]:
#use db - to connect back if interupted earlier
cursor_obj.execute('use school')

0

In [8]:
##creating a table
try:
    tb='create table student(std_id int primary key auto_increment, std_name varchar(30), std_class varchar(30),s td_email varchar(30))'
    cursor_obj.execute(tb)
except:
    print('Table already exists')

Table already exists

### Getting Error in SQL query

In [70]:
##creating a table student_copy and printing error if any
try:
    cursor_obj.execute('create table student_copy (std_id int primary key auto_increment, std_name varchar(30), std_class varchar(30), std_email varchar(30))')
    print('Table Successfully Created')
except cursor_obj.Error as error:
    print('Database error: {} - {}'.format(error.args[0],error.args[1]))
    # print('Database error:{}:{}'.format(error.args)) - gives same result.

Database error: 1050 - Table 'student_copy' already exists

In [73]:
#dropping table student_copy
try:
    cursor_obj.execute('delete table student_copy')
    print('Table Successfully Deleted')
except cursor_obj.Error as error:
    print('Error: {} - {}'.format(error.args[0],error.args[1]))

Error: 1064 - You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '' at line 1

In [75]:
#dropping table student_copy
try:
    cursor_obj.execute('drop table student_copy')
    print('Table Successfully Deleted')
except cursor_obj.Error as error:
    print('Error: {} - {}'.format(error.args[0],error.args[1]))

Table Successfully Deleted

In [61]:
cursor_obj.Error.args

In [17]:
##inserting a single data row into the table - pass values as a tuples
#data entered is always in string format
try:
    ins="insert into student (std_name,std_class,std_email) values(%s,%s,%s)"
    val_str=('Ravi','12','ravi_mankara@gmail.com')
    cursor_obj.execute(ins,val_str) #.execute() for single row entry
    conn_obj.commit()
    print('Data Inserted')
    
except:
    print('Error: Data not inserted')

Data Inserted

In [82]:
#inserting multiple values into the table - we need to pass a list of tuple
try:
    ins='insert into student (std_name, std_class, std_email) values (%s,%s,%s)'
    val_list=[('Rohit','11','rohitpawar@gmail.com'),('Prerna','11','prerna@gmail.com')]
    cursor_obj.executemany(ins,val_list)  #.executemany() for inserting multiple rows or when a list is passed
    print('Data Inserted') 
    conn_obj.commit()#if you don't commit the data it will remain in cache and may be lost
except cursor_obj.Error as error:
    print('Error: {}'.format(error))

Error: (1146, "Table 'school.students' doesn't exist")

In [19]:
#selecting data from query-data is returned as tuple of tuple
#to display all data

print("{:<15} {:<20} {:<20} {:<20}".format("Student Id", "Student Name", "Student Class", "Student Email"))

try:
    cursor_obj.execute('select * from student')
    result=cursor_obj.fetchall()

    for i in result:
        print("{:<15} {:<20} {:<20} {:<20}".format(i[0], i[1], i[2], i[3]))
except:
              print("Error")

Student Id      Student Name         Student Class        Student Email
1               Prerna C             12                   chaurasia@gmail.com
2               Rohit P              12                   pawar@gmail.com
4               Rohit                12                   rohitpawar@gmail.com
5               Prerna               11                   prerna@gmail.com
6               Ravi                 12                   ravi_mankara@gmail.com
7               Rohit                12                   rohitpawar@gmail.com
8               Prerna               11                   prerna@gmail.com
9               Honda                10                   honda@gmail.com
10              Yamaha               11                   yamaha@gmail.com
11              Honda                10                   honda@gmail.com
12              Yamaha               11                   yamaha@gmail.com
13              Honda                10                   honda@gmail.com
14              Yamaha               11                   yamaha@gmail.com
15              Honda                10                   honda@gmail.com
16              Yamaha               11                   yamaha@gmail.com
17              Ravi                 12                   ravi_mankara@gmail.com
18              Prerna               12                   prerna_rohit@gmail.com
20              Honda                10                   honda@gmail.com
21              Yamaha               11                   yamaha@gmail.com
22              Ravi                 12                   ravi_mankara@gmail.com
23              Rohit                12                   rohitpawar@gmail.com
24              Prerna               11                   prerna@gmail.com

In [20]:
print(result)#tuple of tuple

((1, 'Prerna C', '12', 'chaurasia@gmail.com'), (2, 'Rohit P', '12', 'pawar@gmail.com'), (4, 'Rohit', '12', 'rohitpawar@gmail.com'), (5, 'Prerna', '11', 'prerna@gmail.com'), (6, 'Ravi', '12', 'ravi_mankara@gmail.com'), (7, 'Rohit', '12', 'rohitpawar@gmail.com'), (8, 'Prerna', '11', 'prerna@gmail.com'), (9, 'Honda', '10', 'honda@gmail.com'), (10, 'Yamaha', '11', 'yamaha@gmail.com'), (11, 'Honda', '10', 'honda@gmail.com'), (12, 'Yamaha', '11', 'yamaha@gmail.com'), (13, 'Honda', '10', 'honda@gmail.com'), (14, 'Yamaha', '11', 'yamaha@gmail.com'), (15, 'Honda', '10', 'honda@gmail.com'), (16, 'Yamaha', '11', 'yamaha@gmail.com'), (17, 'Ravi', '12', 'ravi_mankara@gmail.com'), (18, 'Prerna', '12', 'prerna_rohit@gmail.com'), (20, 'Honda', '10', 'honda@gmail.com'), (21, 'Yamaha', '11', 'yamaha@gmail.com'), (22, 'Ravi', '12', 'ravi_mankara@gmail.com'), (23, 'Rohit', '12', 'rohitpawar@gmail.com'), (24, 'Prerna', '11', 'prerna@gmail.com'))

In [21]:
#to display a single row data

print("{:<15} {:<20} {:<20} {:<20}".format("Student Id", "Student Name", "Student Class", "Student Email"))

try:
    cursor_obj.execute('select * from student')
    result=cursor_obj.fetchone()

    print("{:<15} {:<20} {:<20} {:<20}".format(result[0], result[1], result[2], result[3]))
except:
              print("Error")

Student Id      Student Name         Student Class        Student Email
1               Prerna C             12                   chaurasia@gmail.com

In [22]:
#to display a multiple row data
print("{:<15} {:<20} {:<20} {:<20}".format("Student Id", "Student Name", "Student Class", "Student Email"))

try:
    cursor_obj.execute('select * from student')
    result=cursor_obj.fetchmany(size=2)

    for i in result:
        print("{:<15} {:<20} {:<20} {:<20}".format(i[0], i[1], i[2], i[3]))
except:
              print("Error")

Student Id      Student Name         Student Class        Student Email
1               Prerna C             12                   chaurasia@gmail.com
2               Rohit P              12                   pawar@gmail.com

-----------------

In [23]:
#deleting data entries - you can also get input from user for deleting rows
query='delete from student where std_id= %s'
std_id=input('Enter Student ID to delete from table: ')
try:
    cursor_obj.execute(query,std_id)
    print('Record deleted successfully')
    conn_obj.commit() #unless you commit changes are not propogated to database
except:
    print('Error Occured, check query')

Enter Student ID to delete from table: 19
Record deleted successfully

-------------

In [83]:
#updating data in database
std_id=input('Enter Student Id to be updated: ')
std_name=input('Enter Student Name: ')
std_email=input('Enter Student Email: ')
query='update student set std_name=%s, std_email=%s where std_id=%s'
#update_details=tuple([std_name,std_email,std_id])#convert a list of string into tuple
update_details=(std_name,std_email,std_id) # you can pass either a tuple or list of string

try:
    cursor_obj.execute(query,update_details)
    print('Record updated successfully')
    conn_obj.commit() #unless you commit changes are not propogated to database
except:
    print('Error Occured, check query')

Enter Student Id to be updated: 32
Enter Student Name: Kawaski
Enter Student Email: kawasaki@gmail.com
Record updated successfully

----------------------

In [25]:
#orderby asc
print("{:<15} {:<20} {:<20} {:<20}".format("Student Id", "Student Name", "Student Class", "Student Email"))

try:
    cursor_obj.execute('select * from student order by std_name')
    result=cursor_obj.fetchall()

    for i in result:
        print("{:<15} {:<20} {:<20} {:<20}".format(i[0], i[1], i[2], i[3]))
except:
              print("Error")

Student Id      Student Name         Student Class        Student Email
13              Honda                10                   honda@gmail.com
20              Honda                10                   honda@gmail.com
15              Honda                10                   honda@gmail.com
11              Honda                10                   honda@gmail.com
9               Honda                10                   honda@gmail.com
24              Prerna               11                   prerna@gmail.com
8               Prerna               11                   prerna@gmail.com
5               Prerna               11                   prerna@gmail.com
1               Prerna C             12                   chaurasia@gmail.com
6               Ravi                 12                   ravi_mankara@gmail.com
22              Ravi                 12                   ravi_mankara@gmail.com
17              Ravi                 12                   ravi_mankara@gmail.com
23              Rohit                12                   rohitpawar@gmail.com
7               Rohit                12                   rohitpawar@gmail.com
4               Rohit                12                   rohitpawar@gmail.com
2               Rohit P              12                   pawar@gmail.com
18              Rohit Pawar          12                   rohitpawar@gmail.com
14              Yamaha               11                   yamaha@gmail.com
21              Yamaha               11                   yamaha@gmail.com
12              Yamaha               11                   yamaha@gmail.com
10              Yamaha               11                   yamaha@gmail.com
16              Yamaha               11                   yamaha@gmail.com

In [26]:
#orderby desc
print("{:<15} {:<20} {:<20} {:<20}".format("Student Id", "Student Name", "Student Class", "Student Email"))

try:
    cursor_obj.execute('select * from student order by std_name desc')
    result=cursor_obj.fetchall()

    for i in result:
        print("{:<15} {:<20} {:<20} {:<20}".format(i[0], i[1], i[2], i[3]))
except:
              print("Error")

Student Id      Student Name         Student Class        Student Email
16              Yamaha               11                   yamaha@gmail.com
14              Yamaha               11                   yamaha@gmail.com
12              Yamaha               11                   yamaha@gmail.com
10              Yamaha               11                   yamaha@gmail.com
21              Yamaha               11                   yamaha@gmail.com
18              Rohit Pawar          12                   rohitpawar@gmail.com
2               Rohit P              12                   pawar@gmail.com
7               Rohit                12                   rohitpawar@gmail.com
23              Rohit                12                   rohitpawar@gmail.com
4               Rohit                12                   rohitpawar@gmail.com
22              Ravi                 12                   ravi_mankara@gmail.com
6               Ravi                 12                   ravi_mankara@gmail.com
17              Ravi                 12                   ravi_mankara@gmail.com
1               Prerna C             12                   chaurasia@gmail.com
24              Prerna               11                   prerna@gmail.com
8               Prerna               11                   prerna@gmail.com
5               Prerna               11                   prerna@gmail.com
15              Honda                10                   honda@gmail.com
11              Honda                10                   honda@gmail.com
20              Honda                10                   honda@gmail.com
9               Honda                10                   honda@gmail.com
13              Honda                10                   honda@gmail.com

--------------------------------------------------

In [84]:
#limit 
#orderby / limit
print("{:<15} {:<20} {:<20} {:<20}".format("Student Id", "Student Name", "Student Class", "Student Email"))

try:
    cursor_obj.execute('select * from student limit 2,1')#limit (2,1) 2-hide, 1-number of entries after hide
    result=cursor_obj.fetchall()

    for i in result:
        print("{:<15} {:<20} {:<20} {:<20}".format(i[0], i[1], i[2], i[3]))
except:
              print("Error")

Student Id      Student Name         Student Class        Student Email
4               Rohit                12                   rohitpawar@gmail.com

-----------------------------------

In [28]:
#searching/filtering #exact value needs to be passed
#orderby / limit

search=input('Enter Student Name to search: ')
print("{:<15} {:<20} {:<20} {:<20}".format("Student Id", "Student Name", "Student Class", "Student Email"))

try:
    cursor_obj.execute("select * from student where std_name = '{}'".format(search) ) #take care of qoutation
    result=cursor_obj.fetchall()

    for i in result:
        print("{:<15} {:<20} {:<20} {:<20}".format(i[0], i[1], i[2], i[3]))
except:
              print("Error")

Enter Student Name to search: Prerna
Student Id      Student Name         Student Class        Student Email
5               Prerna               11                   prerna@gmail.com
8               Prerna               11                   prerna@gmail.com
24              Prerna               11                   prerna@gmail.com

In [90]:
#matching - like - case insensitive
search=input('Enter Student Name to search: ')
print("{:<15} {:<20} {:<20} {:<20}".format("Student Id", "Student Name", "Student Class", "Student Email"))

try:
    cursor_obj.execute("select * from student where std_name like '%{}%'".format(search) ) #%P% means all row containing the letter
    result=cursor_obj.fetchall()

    for i in result:
        print("{:<15} {:<20} {:<20} {:<20}".format(i[0], i[1], i[2], i[3]))
except:
              print("Error")

Enter Student Name to search: rohit
Student Id      Student Name         Student Class        Student Email
2               Rohit P              12                   pawar@gmail.com
4               Rohit                12                   rohitpawar@gmail.com
7               Rohit                12                   rohitpawar@gmail.com
18              Rohit Pawar          12                   rohitpawar@gmail.com
23              Rohit                12                   rohitpawar@gmail.com
27              Rohit                12                   rohitpawar@gmail.com
29              Rohit                                     rohitpawar@gmail.com
31              Rohit                110                  rohitpawar@gmail.com
33              Rohit                11                   rohitpawar@gmail.com

In [86]:
#matching - like - case sensitive
search=input('Enter Student Name to search: ')
print("{:<15} {:<20} {:<20} {:<20}".format("Student Id", "Student Name", "Student Class", "Student Email"))

try:
    cursor_obj.execute("select * from student where binary std_name like '%{}%'".format(search) ) #binary- means case sensitive #%P% means all row containing the letter
    result=cursor_obj.fetchall()

    for i in result:
        print("{:<15} {:<20} {:<20} {:<20}".format(i[0], i[1], i[2], i[3]))
except:
              print("Error")

Enter Student Name to search: P
Student Id      Student Name         Student Class        Student Email
1               Prerna C             12                   chaurasia@gmail.com
2               Rohit P              12                   pawar@gmail.com
5               Prerna               11                   prerna@gmail.com
8               Prerna               11                   prerna@gmail.com
18              Rohit Pawar          12                   rohitpawar@gmail.com
24              Prerna               11                   prerna@gmail.com
28              Prerna               11                   prerna@gmail.com
30              Prerna               11                   prerna@gmail.com
34              Prerna               11                   prerna@gmail.com

--------------

In [91]:

#usig and for fulfilling both the condition

#matching - like - case insensitive
search1=input('Enter Student Name to search: ')
search2=input('Enter Student Class to search: ')
print("{:<15} {:<20} {:<20} {:<20}".format("Student Id", "Student Name", "Student Class", "Student Email"))

try:
    cursor_obj.execute("select * from student where std_name like '%{}%' and std_class={}".format(search1,search2) ) #%P% means all row containing the letter
    result=cursor_obj.fetchall() 

    for i in result:
        print("{:<15} {:<20} {:<20} {:<20}".format(i[0], i[1], i[2], i[3]))
except:
              print("Error")

Enter Student Name to search: Rohit
Enter Student Class to search: 10
Student Id      Student Name         Student Class        Student Email

Above query returns no row as there is no record with name 'Rohit' and class '10'.

In [89]:

#using or for fulfilling either the condition

#matching - like - case insensitive
search1=input('Enter Student Name to search: ')
search2=input('Enter Student Class to search: ')
print("{:<15} {:<20} {:<20} {:<20}".format("Student Id", "Student Name", "Student Class", "Student Email"))

try:
    cursor_obj.execute("select * from student where std_name like '%{}%' or std_class={}".format(search1,search2) ) #%P% means all row containing the letter
    result=cursor_obj.fetchall()

    for i in result:
        print("{:<15} {:<20} {:<20} {:<20}".format(i[0], i[1], i[2], i[3]))
except:
              print("Error")

Enter Student Name to search: Rohit
Enter Student Class to search: 10
Student Id      Student Name         Student Class        Student Email
2               Rohit P              12                   pawar@gmail.com
4               Rohit                12                   rohitpawar@gmail.com
7               Rohit                12                   rohitpawar@gmail.com
9               Honda                10                   honda@gmail.com
11              Honda                10                   honda@gmail.com
13              Honda                10                   honda@gmail.com
15              Honda                10                   honda@gmail.com
18              Rohit Pawar          12                   rohitpawar@gmail.com
20              Honda                10                   honda@gmail.com
23              Rohit                12                   rohitpawar@gmail.com
25              Honda                10                   honda@gmail.com
27              Rohit                12                   rohitpawar@gmail.com
29              Rohit                                     rohitpawar@gmail.com
31              Rohit                110                  rohitpawar@gmail.com
33              Rohit                11                   rohitpawar@gmail.com

----------------------

------------------------------

In [33]:
#using pandas to read data into data frame for processing
import pandas as pd
try:
    df_read=pd.read_sql("select * from student",conn_obj) #read data from db into dataframe
    print(df_read)
except:
    prnt('Error: Unable to read data')

    std_id     std_name std_class               std_email
0        1     Prerna C        12     chaurasia@gmail.com
1        2      Rohit P        12         pawar@gmail.com
2        4        Rohit        12    rohitpawar@gmail.com
3        5       Prerna        11        prerna@gmail.com
4        6         Ravi        12  ravi_mankara@gmail.com
5        7        Rohit        12    rohitpawar@gmail.com
6        8       Prerna        11        prerna@gmail.com
7        9        Honda        10         honda@gmail.com
8       10       Yamaha        11        yamaha@gmail.com
9       11        Honda        10         honda@gmail.com
10      12       Yamaha        11        yamaha@gmail.com
11      13        Honda        10         honda@gmail.com
12      14       Yamaha        11        yamaha@gmail.com
13      15        Honda        10         honda@gmail.com
14      16       Yamaha        11        yamaha@gmail.com
15      17         Ravi        12  ravi_mankara@gmail.com
16      18  Rohit Pawar        12    rohitpawar@gmail.com
17      20        Honda        10         honda@gmail.com
18      21       Yamaha        11        yamaha@gmail.com
19      22         Ravi        12  ravi_mankara@gmail.com
20      23        Rohit        12    rohitpawar@gmail.com
21      24       Prerna        11        prerna@gmail.com

In [34]:
type(df_read)

pandas.core.frame.DataFrame

In [35]:
df_read.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   std_id     22 non-null     int64
 1   std_name   22 non-null     object
 2   std_class  22 non-null     object
 3   std_email  22 non-null     object
dtypes: int64(1), object(3)
memory usage: 832.0+ bytes

In [36]:
'''
# Create dataframe
data = pd.DataFrame({
    'book_id':[12345, 12346, 12347],
    'title':['Python Programming', 'Learn MySQL', 'Data Science Cookbook'],
    'price':[29, 23, 27]
})

# creating column list for insertion
cols = "`,`".join([str(i) for i in data.columns.tolist()])

# Insert DataFrame recrds one by one.
for i,row in data.iterrows():
    sql = "INSERT INTO `book_details` (`" +cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
    cursor.execute(sql, tuple(row))

    # the connection is not autocommitted by default, so we must commit to save our changes
    connection.commit() '''

'\n# Create dataframe\ndata = pd.DataFrame({\n    \'book_id\':[12345, 12346, 12347],\n    \'title\':[\'Python Programming\', \'Learn MySQL\', \'Data Science Cookbook\'],\n    \'price\':[29, 23, 27]\n})\n\n# creating column list for insertion\ncols = "`,`".join([str(i) for i in data.columns.tolist()])\n\n# Insert DataFrame recrds one by one.\nfor i,row in data.iterrows():\n    sql = "INSERT INTO `book_details` (`" +cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"\n    cursor.execute(sql, tuple(row))\n\n    # the connection is not autocommitted by default, so we must commit to save our changes\n    connection.commit() '

-------------

---------------

In [37]:
#Failed to write a pandas dataframe to student table
#writing data to a new blank table,that will be created, not the one that exists, using pandas
write_dict={'std_name':['Honda','Yamaha'] ,'std_class':[10,11], 'std_email':['honda@gmail.com','yamaha@gmail.com']} # if using a scalar i.e single data entry you must specify an index or else pass the values as list
write_df=pd.DataFrame(data=write_dict)
try:
    write_df.to_sql('student',conn_obj)
    print('Data written to Student Table')
    conn_obj.commit()
except:
    print('Error Unable to write data')

Error Unable to write data

In [38]:
#creating a new connection object as there is some issue with pymysql while writing data back to database
#inserting dataframe into database using 
import sqlalchemy
from sqlalchemy import create_engine
engine = sqlalchemy.create_engine('mysql+pymysql://root:@localhost/school')#connection object

In [39]:
#(1412, 'Table definition has changed, please retry transaction')
#if used with old connection object we get this error
tst=engine.execute('select * from test_db')
write_dict={'std_name':['Honda','Yamaha'] ,'std_class':[10,11], 'std_email':['honda@gmail.com','yamaha@gmail.com']} # if using a scalar i.e single data entry you must specify an index or else pass the values as list
write_df=pd.DataFrame(data=write_dict)#the data
try:
    write_df.to_sql('test_db',con=engine) 
    print('Data written to test_db Table')
    #conn_obj.commit()
except:
    print('Error Unable to write data')

Error Unable to write data

In [40]:
#checking data that is written.
tst=engine.execute('select * from test_db')
for i in tst:
    print(i)

(0, 'Honda', 10, 'honda@gmail.com')
(1, 'Yamaha', 11, 'yamaha@gmail.com')

In [41]:
engine.dispose() #doesn't really close connection need to add parameters while creating connection to help achieve this
#cursor_obj.execute('select * from test_db')
#(1412, 'Table definition has changed, please retry transaction')

-----------------

---------------

In [42]:
#entering data using insert, can insert into old table
# creating column list for insertion
cols = ','.join([str(i) for i in write_df.columns.tolist()])#dataframe must have column label same table column name

# Insert DataFrame recrds one by one.
for i,row in write_df.iterrows():#iterate over df as index and series, returns series for each row and does not preserve the dtype of element
    query="insert into student ({}) values (%s,%s,%s)".format(cols)
    cursor_obj.execute(query, list(row)) #val_str: can be a list, tuple, dict
    conn_obj.commit()

In [43]:
type(row)#iter

pandas.core.series.Series

In [44]:
type(write_df.std_name)

pandas.core.series.Series

In [45]:
print(row)

std_name               Yamaha
std_class                  11
std_email    yamaha@gmail.com
Name: 1, dtype: object

In [46]:
print(row.index)
print(hex(id(row)))

Index(['std_name', 'std_class', 'std_email'], dtype='object')
0x15beac31070

In [47]:
cursor_obj.execute('select * from student')
res=cursor_obj.fetchall()#tuple of tuple, result is fetched as tuple and each record is always retrieved as tuple
for i in res:
    print(i)

(1, 'Prerna C', '12', 'chaurasia@gmail.com')
(2, 'Rohit P', '12', 'pawar@gmail.com')
(4, 'Rohit', '12', 'rohitpawar@gmail.com')
(5, 'Prerna', '11', 'prerna@gmail.com')
(6, 'Ravi', '12', 'ravi_mankara@gmail.com')
(7, 'Rohit', '12', 'rohitpawar@gmail.com')
(8, 'Prerna', '11', 'prerna@gmail.com')
(9, 'Honda', '10', 'honda@gmail.com')
(10, 'Yamaha', '11', 'yamaha@gmail.com')
(11, 'Honda', '10', 'honda@gmail.com')
(12, 'Yamaha', '11', 'yamaha@gmail.com')
(13, 'Honda', '10', 'honda@gmail.com')
(14, 'Yamaha', '11', 'yamaha@gmail.com')
(15, 'Honda', '10', 'honda@gmail.com')
(16, 'Yamaha', '11', 'yamaha@gmail.com')
(17, 'Ravi', '12', 'ravi_mankara@gmail.com')
(18, 'Rohit Pawar', '12', 'rohitpawar@gmail.com')
(20, 'Honda', '10', 'honda@gmail.com')
(21, 'Yamaha', '11', 'yamaha@gmail.com')
(22, 'Ravi', '12', 'ravi_mankara@gmail.com')
(23, 'Rohit', '12', 'rohitpawar@gmail.com')
(24, 'Prerna', '11', 'prerna@gmail.com')
(25, 'Honda', '10', 'honda@gmail.com')
(26, 'Yamaha', '11', 'yamaha@gmail.com')

In [48]:
type(res)

tuple

In [49]:
for row1 in write_df.itertuples():#iteraete over namedtuple(is a frame of dataframe) hence it is of type frame
    print(row1)

Pandas(Index=0, std_name='Honda', std_class=10, std_email='honda@gmail.com')
Pandas(Index=1, std_name='Yamaha', std_class=11, std_email='yamaha@gmail.com')

In [50]:
type(row1) #Python's namedtuple was created to improve code readability by providing 
          #a way to access values using descriptive field names instead of integer indices,
          #which most of the time don't provide any context on what the values are.

pandas.core.frame.Pandas

In [51]:
row1

Pandas(Index=1, std_name='Yamaha', std_class=11, std_email='yamaha@gmail.com')

In [52]:
type(write_df)

pandas.core.frame.DataFrame

In [53]:
for row2 in write_df.itertuples(index=False):
    print(row2)

Pandas(std_name='Honda', std_class=10, std_email='honda@gmail.com')
Pandas(std_name='Yamaha', std_class=11, std_email='yamaha@gmail.com')

In [54]:
type(row2)

pandas.core.frame.Pandas

In [55]:
for column, series in write_df.iteritems():
    print(column)
    #print(series)

std_name
std_class
std_email

In [56]:
for column, series in write_df.iteritems():
    #print(column)
    print(series)

0     Honda
1    Yamaha
Name: std_name, dtype: object
0    10
1    11
Name: std_class, dtype: int64
0     honda@gmail.com
1    yamaha@gmail.com
Name: std_email, dtype: object