In [ ]:
#inner join ,left join, right join

query='select * from user right join orders on user.userid=orders.orders.id'

In [1]:
#equi join don't use join word instead uses = sign ........works same as inner join and gives only common fields
query='select state.state_id,state_name,country.coun try_name from state,country where state.countryid=country.country_id'

In [ ]:
#self join
query='select * from categories as C1, categories as C2 where C1.cat)id=C2.cat_id'

In [ ]:
#Between Operator
query='select * from student where std-id between 2 and 5'

In [ ]:
#IN()-comma seperated values, returns all that are mentioned.
#NOT IN()-comma seperated values , returns all except mentioned ones