In [1]:
#SQLite

In [9]:
#creating a connection object
import sqlite3
conn_obj=sqlite3.connect('test_sqlite.db') #creates a db at the same location as oython script

In [4]:
#creating a table in test_sqlite.db
conn_obj.execute('''
create table student(std_id int primary key auto_increment,
std_name varchar(30),
std_class varchar(10),
std_email varchar(30))

''')

In [6]:
#inserting values
query='''
insert into student (std_name,std_class,std_email) values('Ram','12','ram@gmail.com')
'''
conn_obj.execute(query)
conn_obj.commit()
conn_obj.close()

In [8]:
query='''
insert into student (std_name,std_class,std_email) values('Ravi','12','ravi@gmail.com')
'''
conn_obj.execute(query)
conn_obj.commit()
conn_obj.close()

In [40]:
#getting data from student
data=conn_obj.execute('select * from student')
print("{:<20} {:<20} {:<20} {:<20}".format('Student_id','Student_name','Student_class','Student_mail'))
result=data.fetchall()#gives you a list of tuple
for i in result:
    #print("{:<20} {:<20} {:<20} {:<20}".format(i[0], i[1], i[2], i[3]))
    print((i[0], i[1], i[2], i[3])) #unable to use format as there is none in i[0]

Student_id           Student_name         Student_class        Student_mail
(None, 'Ram', '12', 'ram@gmail.com')
(None, 'Ravi', '12', 'ravi@gmail.com')

In [45]:
user_input=input('Enter the std_id to delete')
query=('delete from student where std_class='+user_input )
conn_obj.execute(query)
conn_obj.commit()

Enter the std_id to delete1